body {
    background-color: lightgray;
}

.content h1 {
    text-align: center;
}

.infos-container {
    display: flex;
    justify-content: space-between;
}

.infos-container p {
    margin: 10px 20px;
    width: max-content;
}

.fiche-container {
    background-color: white;
    padding: 5px 5px;
    /* display: flex; */
    /* flex-direction: row-reverse;
    justify-content: left; */
    flex-wrap: wrap;
}

.search-bar form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar form textarea {

    width: 400px;
}

.search-bar form * {
    margin-right: 25px;
}

.sort-button-container {
    display: flex;
    align-items: center;
    background-color: lightgray;
    width: fit-content;
    margin: 0px 10px;
    padding: 5px 10px;
    width: 95%;
}

.sort-button-container * {
    flex: 1;
    padding: 0;
    margin: 0;
    margin-right: 20px;
}

.fiche {
    display: flex;
    align-items: center;
    background-color: lightgray;
    width: fit-content;
    margin: 0px 10px;
    padding: 5px 10px;
    width: 95%;
}

.fiche:nth-child(2n) {
    background-color: rgb(231, 226, 226);
}

.fiche * {
    padding: 0;
    margin: 0;
    margin-right: 20px;
}

.fiche h2,
.fiche p {
    flex: 1;

}

.fiche h2 {
    font-size: 17px;
}

.fiche button {
    padding: 1px 5px;
    height: 80%;
    margin-left: auto;
}


/* Avant mot de passe */
.submit-button {
    background-color: black;
    color: white;
    width: min-content;
    padding: 15px 30px;
    border-radius: 15px;
}

.pwd {
    width: 400px;
    padding: 10px 15px;
}

.starting-modal {
    background-color: lightgray;
    width: 100%;
    height: 100%;
    position: fixed;
}